h1 {
  padding: 25px;
  margin: 0px;
  font-family: fantasy;
  text-align-last: left;
  font-size: 75px;
  background-color: rgb(204, 55, 80);
  color: black;
}

body {
  background-color: pink;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul {
  float: right;
  list-style: none;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 165px;
  border: 1px solid rgb(255, 255, 255);
}

.wrapper {
  width: 100%;
  background-color: black;
  padding: 60px 0px;
}

.wrapper a {
  color: red;
  text-align: center;
}
.wrapper a:hover {
  text-decoration: underline;
  color: blue;
}

iframe {
  width: 90%;
  height: 750px;
  position: center;
}

.NewPage a {
  font-size: 30px;
  padding: 0;
  margin: 50;
  color: white;
  text-decoration: none;
}
.NewPage a:hover {
  color: blueviolet;
}
h4 {
  font-size: 50px;
}
h3 {
  font-size: 50px;
}
h5 {
  font-size: 50px;
}
